// .font-13{
//     font-size: 13px!important;
// }
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     margin: 10px 0;
//     font-family: Karla,sans-serif;
//     color: #343a40;
//     font-weight: 500;
// }
// .h4, h4 {
//     font-size: 1.125rem;
// }
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     margin-top: 0;
//     margin-bottom: 1.5rem;
//     font-weight: 500;
//     line-height: 1.1;
// }
// .mb-5 {
//     margin-bottom: 4.5rem!important;
// }

// .mt-5 {
//     margin-top: 4.5rem!important;
// }
// .mb-4 {
//     margin-bottom: 2.25rem!important;
// }
// .my-4 {
//     margin-top: 2.25rem!important;
//     margin-bottom: 2.25rem!important;
// }
// .form-control, .form-select {
//     box-shadow: none;
// }
// .p-4 {
//     padding: 2.25rem!important;
// }
// .form-label {
//     margin-bottom: 0.5rem;
//     font-weight: 500;
// }
.authentication-bg {
    background-image: url(../images/bg-auth3.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logout-checkmark{
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
}